.navigation {
    display: flex;
    padding: 20px;
    border-bottom: 3px solid #cac4c4;
}

.link{
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    color: #2a363b;
    font-size: 18px;
}

.activeLink{
    composes: link;
    color: #2196f3;
}